<div class="container
">
    <p class="text-2xl text-center font-bold">Event table</p>

    <div class="flex flex-col">
        <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
            <div class="inline-block min-w-full py-2 sm:px-6 lg:px-8">
                <div class="overflow-hidden">
                    <table class="min-w-full text-left text-sm font-light">
                        <thead class="border-b font-medium dark:border-neutral-500 bg-[#FA9533]">
                            <tr class="text-white">
                                <th scope="col" class="px-6 py-4">ID</th>
                                <th scope="col" class="px-6 py-4">Name</th>
                                <th scope="col" class="px-6 py-4">Capacity</th>
                                <th scope="col" class="px-6 py-4">Location</th>
                                <th scope="col" class="px-6 py-4">Province</th>
                                <th scope="col" class="px-6 py-4">Out of ticket flag</th>
                                <th scope="col" class="px-6 py-4">Open date</th>
                                <th scope="col" class="px-6 py-4">Close date</th>
                                <th scope="col" class="px-6 py-4">Race type list</th>
                                <th scope="col" class="px-6 py-4">Organizer list</th>
                                <th scope="col" class="px-6 py-4"><button></button></th>
                                <th scope="col" class="px-6 py-4"><button></button></th>


                            </tr>
                        </thead>
                        <tbody>
                            <tr class="border-b dark:border-neutral-500">
                                <td class="whitespace-nowrap px-6 py-4 font-medium">1</td>
                                <td class="whitespace-nowrap px-6 py-4">Zawarudo</td>
                                <td class="whitespace-nowrap px-6 py-4">100</td>
                                <td class="whitespace-nowrap px-6 py-4">Bangkok</td>
                                <td class="whitespace-nowrap px-6 py-4">Bangkok</td>
                                <td class="whitespace-nowrap px-6 py-4">TRUE</td>
                                <td class="whitespace-nowrap px-6 py-4">2022-08-10</td>
                                <td class="whitespace-nowrap px-6 py-4">2022-08-10</td>
                                <td class="whitespace-nowrap px-6 py-4"><button>View more</button></td>



                            </tr>
                            <tr class="border-b dark:border-neutral-500">
                                <td class="whitespace-nowrap px-6 py-4 font-medium">2</td>
                                <td class="whitespace-nowrap px-6 py-4">Jacob</td>
                                <td class="whitespace-nowrap px-6 py-4">Thornton</td>
                                <td class="whitespace-nowrap px-6 py-4">@fat</td>
                            </tr>
                            <tr class="border-b dark:border-neutral-500">
                                <td class="whitespace-nowrap px-6 py-4 font-medium">3</td>
                                <td class="whitespace-nowrap px-6 py-4">Larry</td>
                                <td class="whitespace-nowrap px-6 py-4">Wild</td>
                                <td class="whitespace-nowrap px-6 py-4">@twitter</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>