.content {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
}

/* Responsive Styles */
@media screen and (max-width: 767px) {

    .card-container>*:not(.circle-link),
    .terminal {
        width: 100%;
    }

    .card:not(.highlight-card) {
        height: 16px;
        margin: 8px 0;
    }

    .card.highlight-card span {
        margin-left: 72px;
    }

    svg#rocket-smoke {
        right: 120px;
        transform: rotate(-5deg);
    }
}

@media screen and (max-width: 575px) {
    svg#rocket-smoke {
        display: none;
        visibility: hidden;
    }
}

.location-info {
    display: flex;
    flex-direction: row;
    margin-bottom: 0.5rem;
    align-items: center;
}
/* <div class="block h-32 w-96 max-w-sm p-10 bg-white border border-gray-200 rounded-lg hover:bg-gray-100 "> */

.event-location-info{
    display: flex;
    
}

.ticket-sales-box {
    display: flex;
    /* height: 8rem; */
    /* width: 24rem; */
    /* max-width: 420px; */
    /* padding: 2.5rem; */
    padding-top: 50px; /* 56px */
    padding-bottom: 50px; /* 56px */
    /* background-color: #FCEBE2; */
    /* border: 1px solid #c4c4c4; */
    border-radius: 0.5rem; 
    /* filter: drop-shadow(0 1px 2px rgb(0 0 0 / 0.1)) drop-shadow(0 1px 1px rgb(0 0 0 / 0.06)); */
  }
  
  /* .ticket-sales-box:hover {
    background-color: #f4f4f4;
  } */

 
  
  .race-title{
    font-size: 1.5rem;
    font-weight: 400;
    color: #FA9533;
    margin-bottom: -10px;
  }

  